    *, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Raleway' sans-serif arial;
    
}


body {
    overflow: hidden;
    position: relative;
    margin: 0;
    font-family: montserrat,sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.logo-outter-con {
     display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto;
}

.Intro-outter-con {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
}

.Intro-outter-con-1 {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1320px;
    display: block;
    width: 100%;
}

.Intro-con {
    padding-right: 40px;
}

.Intro-text {
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    font-size: 25px;
    margin-bottom: .09615em;
    font-weight: 400;
    letter-spacing: -.025em;
    line-height: 1.11538;
    color: #000
}

.Intro-subtext {
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    font-size: 5px;
    margin-bottom: .5em;
    font-weight: 100;
    letter-spacing: -.035em;
    line-height: 1.11538;
    color: #9ea0a6;
}

.first-vid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.first-vid:before {
    content: "";
    display: block;
    padding-bottom: 56.28571%;
}

.first-vid-outter-con {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.first-vid-con {
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.first-comp {
    display: block;
    position: relative;
    z-index: 1;
    opacity: 0;
    height: auto;
    max-width: 100%;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    background-color: #fff;

}

.first-gif {
    opacity: .99;
}

.Phase-1 {
 padding: 90px 0;
}

.text-body-1-outter-con {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1320px;
}

.phase-1-header {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    font-size: 26px;
    margin-bottom: .09615em;
    font-family: Raleway;
    font-weight: 400;
    letter-spacing: -.025em;
    line-height: 1.11538;
    color: #000;
}

.phase-1-body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway',sans-serif;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    font-size: 3px;
    margin-bottom: .5em;
    font-weight: 100;
    letter-spacing: -.035em;
    line-height: 1.11538;
    color: #9ea0a6;
    margin-bottom: 1.25em;
}

.Phase-2 {
    padding-top: 90px;
    padding-bottom: 90px;
    background: #f9f9f9;
    height: 1440px;
}

#Phase-4 {
    padding: 0%;
    padding-top: 50px;
    
}

.left-phase-2 {
    padding: 0 30px;
}

.ph2-header {
    opacity: 0;
    will-change: opacity,transform;
    margin-bottom: 3em;
    max-width: 26em;
}

.project-bio {
    letter-spacing: .3px;
    font-weight: 200;
}

.Phase-2-header {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    font-size: 25px;
    margin-bottom: .09615em;
    font-family: 'Raleway',sans-serif;
    font-weight: 200;
    letter-spacing: -.025em;
    line-height: 1.11538;
    color: #000;
}

.Phase-2-sub-header {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    font-size: 25px;
    margin-bottom: .5em;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    letter-spacing: -.035em;
    line-height: 1.11538;
    color: #9ea0a6;
}

#Phase-4-sub-header {
    font-size: 17px;
    letter-spacing: .3px;
}

.Phase-2-bio {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    font-size: 16px;
    color: #000;
    letter-spacing: .025em;
    line-height: 1.55556;
    font-weight: 200;
}

.mobile-ui-outter-con {
    opacity: 0;
    will-change: opacity,transform;
    margin-bottom: 30px;
}

.mobile-ui-outter-con-1 {
    position: relative;
    max-width: 100%;
}

.mobile-ui-con {
    position: ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



img {
    height: auto;

}

.mobile-ui {
    display: block;
    max-width: 100%;
}

.mobile-ui .mb4 {
    top: 0;
    left: 0;
    right: 0;;
}





.mob-ui {
    display: block;
    width: 100%;
    background-color: #fafafa;
}

.mobile-ui-outter-con-1 .mb3 .mob-ui {
    background-color: transparent;
}

.homepage-landing-outtermost-con {
    opacity: 0;
    will-change: opacity,transform;
    margin-bottom: 30px;
}


.homepage-landing-outter-con-1 {
    position: relative;
    max-width: 100%;
}

.home2 {
     position: relative;
    max-width: 100%;
}

.homepage-landing-con {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.mobile-ui, .mb4 {
    top: 0;
    left: 0;
    right: 0;
}

.mobile-ui-outter-con-1, .mb2, .mobile-ui {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

.mobile-ui-outter-con-1, .mb3, .mobile-ui {
     opacity: 1;
}

.Right-phase-2 {
    padding: 0 30px;
}

.rp2-img {
    opacity: 0;
    will-change: opacity,transform;
    margin-bottom: 30px;
}

.rp2-img-width1 {
    position: relative;
    max-width: 100%;
}

.rp2-img-width3 {
    margin-left: auto;
    margin-right: auto;
}

.rp2-insert-img {
     top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.homepg-ui1 {
    display: block;
    max-width: 100%
}

.homepg-ui1, .homepg-ui2 {
    position: absolute;
   top: 0;
    left: 0;
    right: 0;
}

.rp2-img-width1, .rp2-img-width2, .homepg-ui1 {

    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;

}

.rp2-img-width1, .rp2-img-width4, .homepg-ui1 {
    opacity: 1;

}

.Phase-3 {
    position: relative;
    background: #f9f9f9;
    padding-top: 70px;
}

.vids-con {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1320px;
}

.vids-pres {
    margin-bottom: 60px;
}

.vids-pres-1 {
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.main-vid1 {
    display: block;
    position: relative;
    z-index: 1;
    opacity: 0;
    height: auto;
    max-width: 100%;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.main-vid2 {
    opacity: .99;
}

.dashbd-con {

    opacity: 0;
    will-change: opacity,transform;
    position: relative;
    z-index: 1;
}

.db1 {

    position: relative;
    max-width: 100%;
}

.db3 {
    margin-left: auto;
    margin-right: auto;
}

.db-img {
    position: ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.db-img1 {
    display: block;
    max-width: 100%;
}

.db-img1, .db-img2 {
    position:;
    top: 0;
    left: 0;
    right: 0;
}

.db1, .db2, .db-img1 {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

.db1, .db4, .db-img1 {
    opacity: 1;
}

.dashbd-con {
    
    margin-top: 50px;
}

#Phase-4 {
    background: #fff;
}

.Phase-5 {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1320px;
    paddinag-top: 50px;
}

.text-body-5-outter-con {
    opacity: 0;
    will-change: opacity,transform;
    margin-bottom: 1em;
    max-width: 26em;
}

#Phase-8-text {
    margin-bottom: 3em;
}

.characters-con {
    opacity: 0;
    will-change: opacity,transform;
    position: relative;
}

.character-main-con {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.character-main-con:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1290px;
    height: 1px;
    background: #eee;
}

.captions {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    font-size: 13px;
    padding-left: 1.78571em;
    letter-spacing: .025em;
    color: #000;
}

.art1 {

    position: relative;
    max-width: 100%;
}

.art3 {
    margin-left: auto;
    margin-right: auto;
}

.art {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.art01 {
    display: block;
    max-width: 100%;
}

.art01, .art02 {
    top: 0;
    left: 0;
    right: 0;
}

.art1, .art2, .art01 {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

.art1, .art3, .art01 {
    opacity: 1;
}

.project-bio {
    font-weight: 400;
}


.poster-1 {
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    pointer-events: none;

}
















































































































@media (min-width: 320px) {
    #Phase-4 {
        height: 2000px;
    
}


}






/*  375px */

@media (min-width: 375px) {
.Intro-text {
    font-size: 25px;
    font-size: calc(.03273*100vw + 12.72727px);
    }

.Intro-subtext {
    font-size: 17px;
    font-sze: calc(.03273*100vw + 12.72727px);
    letter-spacing: .5px;
    }

.phase-1-header {
    font-size: 30px;
    letter-spacing: .3px;
    font-sze: calc(.01212*100vw + 21.45455px);
}

.phase-1-body {
    font-size: 20px;
    font-weight: 200;
    font-sze: calc(.01212*100vw + 21.45455px);
    letter-spacing: .5px;
    line-height: 30px;
    margin-top: 10px;
}

.Phase-2-header { 
    font-size: 25px;
    font-size: calc(.03273*100vw + 12.72727px);
}

#Phase-4-sub-header {
    font-size: 20px;
    letter-spacing: .3px;
}

.Phase-2-sub-header {
    font-size: 25px;
    font-size: calc(.03273*100vw + 12.72727px);
}

.Phase-2-bio {
    font-size: 16px;
    font-size: calc(.00485*100vw + 14.18182px);
}

#Phase-4 {
    height: 1850px;
    
}

.captions {
    font-size: 13px;
    font-size: calc(.00121*100vw + 12.54545px)
}

}










@media (min-width: 425px) {

#Phase-4 {
    height: 1750px;
    
}

}


/*  480px */

@media (min-width: 480px) {
.logo-outter-con {
    max-width: 1350px;
    }

.Intro-outter-con-1 {
    max-width: 1350px;
    }

.text-body-1-outter-con {
    max-width: 1350px;
    }

.vids-con {
    max-width: 1350px;
}

.Phase-5 {
    max-width: 1350px;
}    

#Phase-4 {
    height: 1300px;
    
}

}













/*  640px */
@media (min-width: 640px) {
.logo-outter-con {
    z-index: 11;
    }

    #Phase-4 {
    height: 1500px;
    
}


}









/* 720px */
@media (min-width: 720px) {
.logo-outter-con {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1390px;
}

.Intro-outter-con  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* -webkit-box-pack: justify; */
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 135px;
    margin-bottom: 60px;
}


.Intro-outter-con-1 {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1390px;
}

.Phase-1 {
    padding: 9.09091% 0 12.58741%;
}

.text-body-1-outter-con {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1390px
} 

.text-body-1-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.left-phase-2 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;

}

.phase-1-body {
    margin-bottom: 0;
    line-height: 40px;
}

.Phase-2 {
    padding-top: 13.98601%;
    padding-bottom: 13.98601%;
}


.text-body-2-outer-con {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1320px;
}

.text-body-2-outer-con {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1390px;
}
    
.text-body-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.ph2-header {
    margin-bottom: 4.5em;
    max-width: 26em;
}

.Right-phase-2 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.rp2 {   
    padding-left: 0;
    padding-right: 0;
}

.vids-con {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1390px;;
}

.vids-pres {
    margin-bottom: 7.75194%;
}

.dashbd-con {
    margin-bottom: 0%;
}

.Phase-5 {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1390px;
}

#Phase-4 {
    height: 750px;
    
}

.characters-con {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.characters-con:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1px;
    background: #eee;

}

.character-main-con {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding: 45px 15px 75px;
    width: 50%;
}

.character-main-con:first-child::before, 
.character-main-con:nth-child(3):before,
.character-main-con:nth-child(4):before {
   left: 15px;
}  

}










/* 480px and 720px */
@media (min-width: 480px) and (min-width: 720px) {
.text-body-2-outer-con {
    max-width: 1350px;
}
}

/* 720px */
@media (min-width: 720px) {


.tb2-left-text-box {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.character-main-con-2 {
    position: relative;
    z-index: 1;
    width: 100%;
    background: #f9f9f9;
}

}

/* 768px */
@media (min-width: 768px) {


#Phase-4 {
    height: 1270px;
    
}


}









/*  1080px */
@media (min-width: 1080px) {
.logo-outter-con {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1430px;
}

.Intro-outter-con {
    margin-bottom: 90px;
}

.Intro-outter-con-1 {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.text-body-1-outter-con { 
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1430px;
}

.tb1-left-text-box {
    width: 33.33333%;
    margin-right: 8.33333%;
}

.tb1-left-text-box, .tb1-right-text-box {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-left: 15px;
    padding-right: 15px;
}

.tb1-right-text-box {
    width: 50%;
}

.vids-con {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1430px;
}

#Phase-4-sub-header {
    font-size: 35px;
    letter-spacing: .3px;
}

.Phase-5 {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1430px;
} 

#Phase-4 {
    height: 850px;
    
}

}




/* 1080px and 720px */
@media (min-width: 1080px) and (min-width: 720px) {
.text-body-2-outter-con {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1430px;
}
}

@media (min-width: 1024px) {
#Phase-4 {
    height: 1000px;
    
}
}


/* 1200px*/
@media (min-width: 1200px) {
.Intro-text {
    font-size: 52px;
}

.Intro-subtext {
    font-size: 30px;
}

.phase-1-header {
     font-size: 36px
}



.phase-1-body {
     font-size: 26px;
}

.Phase-2-header { 
     font-size: 52px;
}

.Phase-2-sub-header {
    font-size: 52px;;
}

.Phase-2-bio {
    font-size: 20px);
}

#Phase-4 {
    height: 1200px;
    
}

.captions {
    font-size: 14px;
}
    

    
}
}



@media (min-width: 1430px){
.Phase-1 {
    padding: 130px 0 180px;
}

.tb1-right-text-box {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66667%;
}

.Phase-2 {
    padding-top: 200px;
    padding-bottom: 200px;
}

#Phase-4 {
    height: 1000px;
    
}

}

#Phase-4 {
    ;
    padding-top: 50px;
    
}


